@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

:root {
  font-family: "Playfair Display", serif;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #708a81;
  -webkit-border-radius: 1ex;
}
/* main{
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
} */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

body {
  color: #708a81;
  background: #e5d1b8;
  /* background: #C2956E; */
}
a {
  color: inherit;
  text-decoration: none;
}

/* ------------------- HEDADER ------------------- */
.header-container {
  position: fixed;
  z-index: 2;
  font-size: 2rem;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #e5d1b8;
  width: 100%;
  border-bottom: #c2956e solid 2px;

  .row {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .header-name {
      display: flex;
      align-items: center;
      padding-left: 200px;
    }
    .menu-container {
      /* border: red solid 1px; */
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 40%;
      cursor: pointer;
      font-size: 2rem;
    }
  }
}

/* .burger-menu {
  height: 100%;
  width: 4em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
} */

/* .menu {
  width: 450px;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

} */

/* .menu-container {
 
  padding-top: 5%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  .menu-item {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
  .menu-item:hover {
    transition: 0.5s ease;
    color: #e5d1b8;
  }
} */

/* ------------- sliding menu ------------------ */
/* .hidden {
  display: none;
}

.visible {
  display: inherit;
} */

/* ----- animations--------- */
/* clicked */

/* .menu-btn.clicked {

  transition: 0.5s ease;
  color: #e5d1b8 !important;
}
.menu-btn.unclicked {

  transition: 0.5s ease;
} */

.home-page {
  display: flex;
  justify-content: center;
  align-content: center;
  /* border: 1px solid yellow; */
  height: 100vh;

  .animated-container {
    display: flex;
    /* border: solid blue 1px; */

    justify-content: center;
    flex-direction: column;

    .name {
      display: flex;
      /* border: red 2px dotted; */
      font-size: 10rem;
      justify-content: flex-start;
    }
    .scroll-effect {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5rem;
      width: 100%;
      /* border: 1px solid red; */
    }
  }

  .switch {
    width: 160px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 10px;
    cursor: pointer;
  }

  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }

  .handle {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 40px;
  }
}

#about {
  /* background-color: #c2956e; */
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
